body {
    padding: 0;
    margin: 0;
}

.background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #ffffffca;
}

.voltar {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 25px;
    font-weight: 400;
}

.line, .lineRegister {
    width: 104px;
    height: 3px;
    background: #AA340D;
    margin-top: -120px;
}

.lineRegister {
    width: 154px;
    margin-top: 40px;
}

.title {
    text-align: center;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 69px;
    margin-top: 0px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 438px;
    padding: 40px 25px;
    border: 1px solid #ffffffca;
    border-radius: 2px;
}

.input {
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    border: 1px solid #ffffffca;
    background-color: transparent;
    border-radius: 2px;
    color: #ffffffca;
    
}

.input::placeholder {
    color: #ffffffca;
    text-transform: uppercase;
    font-family: "Proza Libre", sans-serif;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.row .input {
    width: 47%;
}

.buttonLoginRegister {
    box-sizing: border-box;
    width: 425px;
    height: 40px;
    background: linear-gradient(90.88deg, rgba(170, 52, 13, 0.85) -4.95%, rgba(170, 52, 13, 0) 105.66%);
    border: 0.5px solid #B62D00;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Proza Libre", sans-serif;
    cursor: pointer;
    color: #ffffffca;
}

.buttonLoginRegister:hover {
    background: linear-gradient(90.88deg, rgb(170, 52, 13) -4.95%, rgba(170, 52, 13, 0.256) 105.66%);
}

.borderButton {
    border: 0.5px solid #ffffffca;
    padding: 5px;
    border-radius: 2px;
}

.textLoginRegister {
    font-family: "Proza Libre", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.link {
    color: #B62D00;
    text-transform: uppercase;
    font-weight: 600;
}

.errors {
    display: flex;
    width: 100%;
}

.error {
    width: 100%;
    font-size: 12px;
    margin-top: -15px;
    margin-bottom: 10px;
    font-family: "Proza Libre", sans-serif;
    font-size: 12px;
}

#errorColumn {
    margin-left: 25px;
}