.containerReservas {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 10%;
}

.titulo {
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
}

.tabelaReserva {
    box-sizing: border-box;
    width: 538px;
    height: 174px;
    display: flex;
    flex-direction: column;
    background: #120801;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #B62D00;
    margin: 0;
}

.textoDataReserva {
    padding-top: 30px;
    font-family: 'Proza Libre';
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #B62D00;
}

.textoDivisao,
.textoReserva {
    font-family: 'Proza Libre';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 30px;
}

.mesaeReserva {
    display: flex;
}

.textoDivisao {
    margin: 0 10px 0 10px;
}