.background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.line {
    width: 126px;
    height: 3px;
    background: #AA340D;
    margin-top: 60px;
}

.titleReservation {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 57px;
    text-align: center;
    color: #ffffffca;
    margin-top: 0;
    margin-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 200px;
}

.input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    width: 200px;
    height: 40px;
    border: 1px solid #ffffffca;
    background-color: #00000000;
    border-radius: 2px;
    color: #ffffffca;
    margin: 0px 20px 0 20px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.select {
    position: relative;
    width: 200px;
    margin: 0px 20px;
}

.selectWrapper {
    position: relative;
    width: 200px;
    margin: 0px 20px;
}

.selectWrapper::after {
    content: "·ê∏";
    font-size: 12px;
    color: #ffffffca;
    position: absolute;
    right: -3px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%) rotate(-90deg);
}

.input[type="date"], 
.input[type="time"] {
    position: relative;
    color-scheme: dark;
}

.input[type="date"]::-webkit-calendar-picker-indicator,
.input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 100;
    cursor: pointer;
    position: absolute;
    width: 50%;
    height: 50%;
    margin-left: 80%;
}

.selectWrapperDate {
    position: relative;
    width: 200px;
    margin: 0px 20px;
}

.selectWrapperDate::after {
    font-size: 14px;
    color: #ffffffca;
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}


.input option {
    background-color: #120901;
    color: #ffffffca;
    padding: 20px;
}

.buttonReservation {
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    background: linear-gradient(90.88deg, rgba(170, 52, 13, 0.85) -4.95%, rgba(170, 52, 13, 0) 105.66%);
    border: 0.5px solid #B62D00;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Proza Libre", sans-serif;
    cursor: pointer;
    color: #ffffffca;
}

.buttonReservation:hover {
    background: linear-gradient(90.88deg, rgb(170, 52, 13) -4.95%, rgba(170, 52, 13, 0.256) 105.66%);
}

.borderButton {
    border: 0.5px solid #ffffff7b;
    padding: 5px;
    border-radius: 2px;
    height: 29px;
    margin-left: 20px;
}

.error {
    color: #ffffff;
    margin: 5px 40px 0 40px;
    font-size: 12px;
    font-family: "Proza Libre", sans-serif;
    font-size: 12px;
}

.errors {
    display: flex;
    flex-direction: column;
}