body {
    background-color: #F8F1EA;
}

.containerCardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.voltar {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 25px;
    font-weight: 400;
    color: #110901;
}

.titleCardapio {
  font-family: 'Cormorant Garamond';
  font-weight: 700;
  font-size: clamp(2rem, 6vw, 4rem);
  text-transform: uppercase;
  color: #110901;
}


.titlePrato {
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    color: #110901;
    text-align: center;
}

.descricaoPrato {
    font-family: 'Proza Libre';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(22, 13, 6, 0.5);
}

.precoPrato {
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    color: #110901;
    text-align: center;
    margin-bottom: 45px;
}