.background {
    background-color: #120901;
}

.containerPrincipalPrimeiro {
    margin: 0 0 0 75px;
    display: flex;
    flex-direction: row;
}

.containerText {
    display: flex;
    flex-direction: column;
}

.imageHome {
    position: absolute;
    width: 50%;
    height: auto;
    left: 730px;
    top: 0px;
    z-index: 0;
}

.degrade {
    position: absolute;
    width: 710px;
    height: 340px;
    left: 730px;
    top: 0px;
    z-index: 1;
    background: linear-gradient(180deg, #120901 40.92%, rgba(18, 9, 1, 0) 100%);
}

.containerLine {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

.line {
    background-color: #fff;
    height: 1px;
    width: 175px;
    margin-top: 25px;
    margin-right: 15px;
}

.textLine {
    color: #fff;
    font-family: 'Proza Libre';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.textPrincipal {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 120px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    margin-top: -10px;
    position: relative;
    z-index: 2;
}

strong {
    color: #fff;
    font-size: 85px;
}

.textIntroducao {
    font-family: 'Proza Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    color: #E6B7A8;
    margin-bottom: 240px;
}

.linePrincipalGosto {
    position: absolute;
    width: 290px;
    height: 34px;
    left: 300px;
    top: 290px;
    background: linear-gradient(91.1deg, #AA340D -0.56%, rgba(170, 52, 13, 0.85) 28.66%, rgba(170, 52, 13, 0.895274) 42.25%, rgba(255, 255, 255, 0.61) 51.13%, rgba(170, 52, 13, 0.78) 61.38%, #AA340D 74.52%, rgba(170, 52, 13, 0) 89.67%);
}

.linePrincipalCriatividade {
    position: absolute;
    width: 597px;
    height: 34px;
    left: 75px;
    top: 543px;
    background: linear-gradient(91.1deg, #AA340D -0.56%, rgba(170, 52, 13, 0.85) 28.66%, rgba(170, 52, 13, 0.895274) 42.25%, rgba(255, 255, 255, 0.61) 51.13%, rgba(170, 52, 13, 0.78) 61.38%, #AA340D 74.52%, rgba(170, 52, 13, 0) 89.67%);
}

.containerPrincipalSegundo {
    background-color: #F8F1EA;
    height: 500px;
}

.textAboutUs {
    position: absolute;
    font-family: 'Proza Libre';
    font-style: normal;
    font-weight: 600;
    font-size: 130px;
    line-height: 120px;
    text-transform: uppercase;
    margin-left: 75px;
    margin-top: 75px;
    color: rgba(182, 45, 0, 0.1);
}

