.background {
  background-color: #120901;
}

.containerPrincipalPrimeiro {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  width: 100%;
  overflow-x: hidden;
}

.containerText {
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.Containerimage {
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
  grid-column-start: 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
}

.imageHome {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  max-width: 100%;
  display: block;
}

.degrade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to bottom, #120901 0%, transparent 100%);
  z-index: 1;
}

.containerLine {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.line {
  background-color: #fff;
  height: 1px;
  width: 175px;
  margin-top: 25px;
  margin-right: 15px;
}

.textLine {
  color: #fff;
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.textIntroducao {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-transform: uppercase;
  color: #E6B7A8;
  margin-bottom: 240px;
}

.textPrincipal {
  font-family: 'Cormorant Garamond';
  font-weight: 700;
  font-size: clamp(2rem, 6vw, 4rem); /* responsivo */
  line-height: 1.2;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  position: relative;
  z-index: 2;
}

strong {
  color: #fff;
  font-size: clamp(2.5rem, 7vw, 5rem);
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.15em;
  width: 100%;
  height: 0.35em;
  background: linear-gradient(
    90deg,
    #AA340D -0.56%,
    rgba(170, 52, 13, 0.85) 28.66%,
    rgba(170, 52, 13, 0.895274) 42.25%,
    rgba(255, 255, 255, 0.61) 51.13%,
    rgba(170, 52, 13, 0.78) 61.38%,
    #AA340D 74.52%,
    rgba(170, 52, 13, 0) 89.67%
  );
  z-index: -1;
}