.background {
  background-color: #120901;
}

.containerPrincipalPrimeiro {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.containerText {
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.Containerimage {
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
  grid-column-start: 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
}

.imageHome {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
  max-width: 100%;
  display: block;
}

.degrade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,0.6), transparent);
  z-index: 1;
}

.containerLine {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
}

.line {
  background-color: #fff;
  height: 1px;
  width: 175px;
  margin-top: 25px;
  margin-right: 15px;
}

.textLine {
  color: #fff;
  font-family: 'Proza Libre';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.textPrincipal {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 120px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  margin-top: -10px;
  position: relative;
  z-index: 2;
}

strong {
  color: #fff;
  font-size: 85px;
}

.textIntroducao {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-transform: uppercase;
  color: #E6B7A8;
  margin-bottom: 240px;
}

.linePrincipalGosto {
  position: absolute;
  width: 290px;
  height: 34px;
  left: 300px;
  top: 290px;
  background: linear-gradient(91.1deg, #AA340D -0.56%, rgba(170, 52, 13, 0.85) 28.66%, rgba(170, 52, 13, 0.895274) 42.25%, rgba(255, 255, 255, 0.61) 51.13%, rgba(170, 52, 13, 0.78) 61.38%, #AA340D 74.52%, rgba(170, 52, 13, 0) 89.67%);
}

.linePrincipalCriatividade {
  position: absolute;
  width: 597px;
  height: 34px;
  left: 75px;
  top: 543px;
  background: linear-gradient(91.1deg, #AA340D -0.56%, rgba(170, 52, 13, 0.85) 28.66%, rgba(170, 52, 13, 0.895274) 42.25%, rgba(255, 255, 255, 0.61) 51.13%, rgba(170, 52, 13, 0.78) 61.38%, #AA340D 74.52%, rgba(170, 52, 13, 0) 89.67%);
}